

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
.login
{
Width:500px;
height:500px;
overflow:scroll;
}
</style>
</head>


<body>
 <div class="login">
  <h1>Weather Based Stock Prediction</h1>
  
  <h5>Enter the month and year for which you want to predict the sales of the product [EXAMPLE : 02-2020 (FEB 2020)]: </h3>


  <h5>The Products are :   ALCOHOL ,  BREAD  , CHEMISTRY , CHEWING_GUM_LOLIPOPS     CHIPS_FLAKES  ,  CIGARETTES  ,  COFFEE TEA  \n DAIRY_CHESSE  ,  DRINK_JUICE  ,  GENERAL  ,  GENERAL_FOOD  GENERAL_ITEMS  ,  GROATS_RICE_PASTA  ,  ICE_CREAMS_FROZEN,  KETCH_CONCETRATE_MUSTARD_MAJO_HORSERADISH  OCCASIONAL  ,  POULTRY  ,  SPICES  ,  SWEETS  ,  TABLETS  ,  VEGETABLES.</h3>


  

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Date" placeholder="Date" required="required" />
        
		<input type="text" name="Product Group" placeholder="Product Group" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   
   <h6> {{ prediction_text }}</h6>
   

 </div>


</body>
</html>
